<table cellspacing="0" cellpadding="0" border="0">
	<tbody>
		<tr>
		<td width="15" style="background:#6a9ccc">&nbsp;</td>
		<td width="10">&nbsp;</td>
		<td valign="top"><img src="https://bytebucket.org/paul_yelamo_gonzalez/firma-mail/raw/53587e1acbcc42f045a6e3d225f3ab2023a7130d/atomo%20pequeno.jpg" /></td>
		<td width="10">&nbsp;</td>
		<td>
		<table cellspacing="0" cellpadding="0" border="0">
			
			<tr>
			<td>
				<span style="font-family:Verdana;font-weight:bold;font-size:14px;color:#6a9ccc">Paul Yelamo Gonzalez</span><br />
				<span style="font-family:Verdana;font-size:12px;color:#4c4c4c"></span><br />
				<span style="font-family:Verdana;font-size:12px;color:#4c4c4c">Telefono: +58 (424)-9650438</span><br /><br />
				<span style="font-family:Verdana;font-weight:bold;font-size:12px;color:#4c4c4c">Sigueme:</span><br />
			</td>
			</tr>
			<tr>
			<td>
				<table>
					<tr>
						<td>
						<a href="https://twitter.com/paulyelamo"><img src="http://frederickchai.github.io/twitter.png" alt="Twiter" /></a>
						</td>
						<td width="3">&nbsp;</td>
						<td>
						<a href="ve.linkedin.com/in/PaulYelamo"><img src="http://frederickchai.github.io/linkedin.png" alt="LinkedIn" /></a>
						</td>
						<td width="3">&nbsp;</td>
						<td>
						<a href="https://www.facebook.com/Paulgyg91"><img src="http://frederickchai.github.io/facebook.png" alt="Facebok" /></a>
						</td>
						<td width="3">&nbsp;</td>
						<td>
						<a href="https://instagram.com/paulgyg91"><img src="http://frederickchai.github.io/instagram.png" width="30" alt="Instagram" /></a>
						</td>
						
					</tr>
				</table>
			</td>
			</tr>
		</table>
		</td>
		</tr>
	</tbody>
</table>